body {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  color: teal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #ede8e3;
}

#button-container {
  height: 7em;
  width: 7em;
  background-color: #e9c97d;
  border-radius: 100%;
}

#confetti {
  display: flex;
  /*text-align: center;
  justify-content: center;*/
  color: teal;
  border: none;
  background-color: #e9c97c00;
  font-weight: 600;
  font-size: .95em;
  line-height: 1.35em;
  padding: 1.9em;
  border-radius: 100%;
  cursor: pointer;
}

.title{
  font-size: .45em;
  color: coral;
  display:flex;
  justify-content:center;
  align-items:center;
  position: absolute;
  transform:translate(-50%, -50%);
  animation: rotating 15s linear infinite;
}

@keyframes rotating {
  from{
    transform: rotate(0deg)
  }
  
  to {
    transform: rotate(360deg)
  }
}